#logo{
    

    display: flex;
    height: 100px;
   padding-bottom: 50px;
    padding-left: 10%;
    
    background-color: var(--search-box-bg, white);
}
@media only screen and (max-height:768px){
    #logo{margin-top:47px}
    }

    input {
        background-color: var(--search-box-bg, white);
        border: none;
        border-radius: calc(0.5 * var(--ntp-realbox-height));
        color: var(--search-box-text);
        font-family: inherit;
        font-size: inherit;
        height: 100%;
        width: 65%;
        outline: none;
        padding-inline-end: 44px;
        padding-inline-start: 52px;
        
    }
    
    body{
        font-size: small;
    }
ntp-realbox-icon {
   
  position: fixed;
 

}




li{
    list-style-type:none;
    display:inline;
    padding:10px;
    font-size: 15px;
   
}
nav{
    
    display: flex;
    padding-left: 88%;
   
}

  #inputWrapper{
   
        --ntp-realbox-height: 44px;
        border-radius: calc(0.5 * var(--ntp-realbox-height));
        box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
        font-size: 16px;
        height: var(--ntp-realbox-height);
        text-align: center;
        max-width: 550px;
  }
  #realbox{
      
     
      padding-left: 250px;
      padding-bottom: 400px;
     
 
      
      margin-top:49px;
   
      padding-left: 30%;
      margin-left: auto;
      margin-right: auto;
      background-color: var(--search-box-bg, white);
  }
